<h1>Editando a tarefa: {{task.title}}</h1>
<form action="/tasks/add" method="POST">

    <input type="hidden" name="id" value="{{task.id}}">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Informe uma tarefa para cadastro." value="{{task.title}}">
    </div>
    <div class="form-control">
        <label for="description">Descrição</label>
       <textarea name="description" placeholder="Descreva os objetivos da sua tarefa.">{{task.description}}</textarea>
    </div>
    <input type="submit" value="Editar Tarefa">
</form>