<h1>Criação de Tarefas</h1>
<form action="/tasks/add" method="POST">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Informe uma tarefa para cadastro.">
    </div>
    <div class="form-control">
        <label for="description">Descrição</label>
       <textarea name="description" placeholder="Descreva os objetivos da sua tarefa."></textarea>
    </div>
    <input type="submit" value="Criar Tarefa">
</form>